[submodule "hlibgit2/libgit2"]
	path = hlibgit2/libgit2
	url = git://github.com/jwiegley/libgit2.git
[submodule "vendor/mock-s3"]
	path = vendor/mock-s3
	url = git://github.com/jwiegley/mock-s3.git
[submodule "vendor/aws"]
	path = vendor/aws
	url = git://github.com/jwiegley/aws
[submodule "vendor/c2hsc"]
	path = vendor/c2hsc
	url = git://github.com/jwiegley/c2hsc.git
[submodule "vendor/conduit"]
	path = vendor/conduit
	url = git://github.com/snoyberg/conduit.git
[submodule "vendor/convertible"]
	path = vendor/convertible
	url = git://github.com/jwiegley/convertible
