[submodule "hlibgit2/libgit2"]
	path = hlibgit2/libgit2
	url = https://github.com/libgit2/libgit2.git
[submodule "vendor/aws"]
	path = vendor/aws
	url = https://github.com/fpco/aws
[submodule "vendor/c2hsc"]
	path = vendor/c2hsc
	url = https://github.com/jwiegley/c2hsc.git
